@page "list"
@model Headers.Csp.Sample.Pages.Movies.IndexModel

<h4>Movies list page</h4>
<h4>Using EnableCspFilter in this folder to apply PolicyGroup1</h4>
<p>Move to another page in this folder by clicking below</p>
<a class="btn btn-info" asp-page="Play">Play</a>
<br />