
@{
    ViewData["Title"] = "Book Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Book Details page</h4>

<h4>Thanks to EnforceMode=false on the controller, CSP [EnableCsp(PolicyGroupName ="PolicyGroup3")]
applies for this Action.</h4>
    <style nonce-add=true>
        .myclass2 {
            background: lightgreen;
        }
    </style>
    <div class="myclass2">
        I am lightgreen, thank you nonce!
    </div>