@{
    ViewData["Title"] = "Books";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h4>Books page</h4>
    <h4>CSP is disabled on the controller and on this Action</h4>
    <p>Move to another action by clicking below</p>
    <a class="btn btn-info" asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="4">View Book 4</a>
</div>
